
body {
    margin: 0;
    background: #999;
}
header {
    background: red;
    color: yellow;
    padding: 15px;
}

.featured{
    background-color: blueviolet;
    color: aqua;
    margin: 35px;
    padding: 70px;
    border-radius: 30px;
}

.barre h1{
    margin: 0;
    display: inline;
}

.barre nav ul{
    margin: 0;
    display: inline;
}

.barre nav ul li{
    background: black;
    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px;
    border-radius: 5px;
}

.barre nav ul li a{
    color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 15px;
    text-align: center;
    font-family: arial;
    display:inline;
}

.price {
    color: indianred;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.row{
    display: contents;
}

